<ul>
    <li><a asp-action="OnlineChatRoom1" asp-controller="Chat">ChatRoom1</a></li>
    <li><a asp-action="OnlineChatRoom2" asp-controller="Chat">ChatRoom2</a></li>
    <li><a asp-action="OnlineChatRoom3" asp-controller="Chat">ChatRoom3</a></li>
</ul>