@model List<ChatRoom.Chats.Chat>

<ul>
    <a asp-action="AddChatRoom" asp-controller="Chat">Add Chat Room</a></br>
    <a asp-action="DeleteChatRoom" asp-controller="Chat">Delete Chat Room</a></br>
    <a asp-action="ChooseChat" asp-controller="Chat">Choose Chat Room</a></br>

    @foreach (var chat in Model)
    {
        <li>
            <a asp-action="OnlineChatRoom" asp-controller="Chat">
                @chat.Name;
            </a>
        </li>
    }
</ul>