@model ChatRoom.Models.ChatModel

<form asp-action="DeleteChatRoom" asp-controller="Chat" asp-anti-forgery="true">
    <div class="form-group">
        <label asp-for="Name">Input chat name</label>
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name" />
    </div>
    <div class="form-group">
        <input type="submit" value="Delete Chat" />
    </div>
</form>