<a asp-action="Logout" asp-controller="Chat">Logout</a>
<div class="container">
    <ul id="messagesList"></ul>
    Message<input type="text" id="messageInput" />
    <input type="button" id="sendButton" value="Send Message" />
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>